html * {
	font-family: sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 30px;
}

div.error {
	font-family: sans-serif;
	font-size: 16px;
	color: red;
}

a.green {
	font-size: 30px;
	color: green;
}

a.metric {
	color: green;
	font-weight: bold;
}

.container {
   height: auto;
   overflow: hidden;
}

.right {
    width: auto;
    float: none;
}

.left {
    width: 525px;
    float: left;
    overflow: hidden;
}​​

circle.node {
    stroke: #fff;
    stroke-width: 3px;
    fill: #ccc;
}

/*
circle.fixed {
    stroke: #fff;
    stroke-width: 3px;
    fill: #aaa;
}
*/

line.link {
    stroke-width: 2px;
    stroke: #999;
    stroke-opacity: 0.6;
}

line.path {
    stroke-width: 4px;
    stroke: #0a0;
    stroke-opacity: 0.6;
}


text.node {
	font-family: sans-serif;
	font-size: 12px;
}

text.link {
	font-family: sans-serif;
	font-size: 10px;
}

div.tooltip {   
	position: absolute;
	text-align: center;
	width: auto;
	height: auto;
	padding: 2px;
	font-family: sans-serif;
	font-size: 12px;
	background: lightsteelblue;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}

marker#arrow {
    stroke: #999;
    fill: #999;
}